{%BOT_DOMAIN%} {
        tls {%ACME_EMAIL%}
        gzip
        log /root/.caddy/sonar.access.log
        proxy / app:9000 {
            header_upstream Host {host}
            header_upstream X-Real-IP {remote}
            header_upstream X-Forwarded-For {remote}
            header_upstream X-Forwarded-Proto {scheme}
        }
}
